.events {
  &__lection {
    background-image: url(/src/images/events/events-lection.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 210px;
    position: relative;
    margin-bottom: 83px;

    @include on-tablet {
      margin-inline: auto;
      width: 700px;
      height: 390px;
      margin-bottom: 108px;
    }

    @include on-desktop {
      margin: 0;
      width: 100%;
      height: 550px;
      margin-bottom: 202px;
    }

    &-info {
      background-color: $page-background-color;
      width: 280px;
      position: absolute;
      top: 153px;
      left: 20px;
      box-shadow: 0 2px $box-shadow-color;

      @include on-tablet {
        width: 570px;
        height: 204px;
        top: 306px;
        left: 65px;
      }

      @include on-desktop {
        top: 448px;
        left: 355px;
      }
    }

    &-date {
      padding-inline: 21px;
      margin: 24px 0;
      color: $exhibition-date-color;
      font-size: 16px;
      font-weight: 500;
      display: flex;
      justify-content: space-between;

      @include on-tablet {
        padding-inline: 55px;
        margin: 45px 0 23px;
        font-size: 14px;
      }
    }

    &-time {
      color: $theme-color;
      font-weight: 700;
    }

    &-name {
      font-family: Montserrat, sans-serif;
      font-size: 28px;
      font-weight: 400;
      text-align: center;
      margin: 0 0 20px;

      @include on-tablet {
        padding-inline: 55px;
        text-align: left;
        margin-bottom: 50px;
        font-size: 36px;
      }
    }
  }
}
