.header {
  &__content {
    display: flex;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row-reverse;
    }
  }

  &__top {
    background-image: url(/src/images/header-background.jpg);
    background-size: cover;
    background-position: center;

    height: 300px;
    display: flex;

    @include on-tablet {
      height: 384px;
      width: 50%;
    }

    @include on-desktop {
      height: 655px;
      width: 725px;
    }
  }

  &__logo-link {
    width: 55px;
    height: 61px;
    margin: 9px auto 0;

    @include hover;

    @include on-tablet {
      margin-top: 15px;
      margin-left: 70px;
    }
  }

  &__bottom {
    @include content-padding-inline;

    text-align: center;

    @include on-tablet {
      width: 50%;
      padding-right: 20px;
    }

    @include on-desktop {
      width: 555px;
      padding-right: 30px;
      margin-inline: auto;
    }
  }

  &__title {
    font-family: Montserrat, sans-serif;
    font-size: 45px;
    font-weight: 700;
    color: $header-title-color;
    text-align: center;
    margin: 20px 0 0;

    @include on-tablet {
      margin-top: 127px;
      text-align: left;
      font-size: 54px;
      line-height: 120%;
    }

    @include on-desktop {
      margin-top: 206px;
      font-size: 72px;
    }
  }

  &__events {
    display: none;

    @include on-desktop {
      display: block;
      position: absolute;
      top: 522px;
    }
  }

  &__tickets {
    width: 280px;
    margin: 20px auto 0;

    @include on-tablet {
      width: 270px;
      margin-top: 38px;
      margin-left: 0;
    }

    @include on-desktop {
      margin-top: 89px;
      margin-left: auto;
      margin-right: 0;
    }
  }
}
