.icon {
  width: 24px;
  height: 24px;
  background-size: cover;
  background-position: center;

  @include hover;

  @include on-tablet {
    top: 39px;
    left: 34px;
  }

  @include on-desktop {
    left: 55px;
  }

  &--menu {
    background-image: url(/src/images/icons/icon-menu.png);
    position: absolute;
    top: 27px;
    left: 20px;
  }

  &--close {
    background-image: url(/src/images/icons/icon-close.png);
    position: absolute;
    top: 27px;
    left: 20px;
  }

  &--facebook {
    background-image: url(/src/images/icons/footer-icon-facebook.png);
    position: absolute;
    top: 24px;
    right: 44px;

    @include on-tablet {
      top: 134px;
      left: 0;
    }

    @include on-desktop {
      top: 180px;
    }
  }

  &--instagramm {
    background-image: url(/src/images/icons/footer-icon-instagram.png);
    position: absolute;
    top: 24px;
    right: 0;

    @include on-tablet {
      top: 134px;
      left: 56px;
    }

    @include on-desktop {
      top: 180px;
      left: 46px;
    }
  }
}
