.menu {
  color: $menu-text-color;

  &__content {
    @include content-padding-inline;

    display: flex;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
    }
  }

  &__nav {
    padding-left: 52px;
    padding-bottom: 24px;
    margin-top: 27px;
    border-bottom: 1px solid $page-background-color;

    @include on-tablet {
      height: 121px;
      align-self: start;
      margin-top: 39px;
      padding-right: 38px;
      border-bottom: none;
      border-right: 1px solid $page-background-color;
    }

    @include on-desktop {
      padding-right: 102px;
    }
  }

  &__timetable {
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 24px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;

    @include on-tablet {
      flex-direction: row;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    @include on-desktop {
      margin-bottom: 48px;
    }

    &--works {
      @include on-tablet {
        margin-left: 38px;
        width: 158px;
        height: 145px;
      }

      @include on-desktop {
        margin-left: 102px;
      }
    }

    &--weekends {
      margin-top: 16px;

      @include on-tablet {
        width: 144px;
        height: 105px;
        margin-left: 38px;
        align-self: flex-end;
      }

      @include on-desktop {
        width: 170px;
      }
    }

    &-accent {
      font-weight: 600;
    }
  }
}
