.section {
  &__title {
    @include content-padding-inline;

    font-family: Montserrat, sans-serif;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    color: $main-title-text-color;
    margin-bottom: 40px;

    @include on-tablet {
      text-align: left;
      margin-bottom: 58px;
      font-size: 48px;
    }
  }
}
