.tickets {
  color: $main-title-text-color;
  height: 50px;
  border: 1px solid $theme-color;
  box-sizing: border-box;
  display: flex;
  align-items: center;

  @include on-tablet {
    height: 70px;
  }

  &__text {
    margin-inline: auto;
    font-size: 16px;
    font-weight: 500;
  }

  &__link {
    height: 50px;
    width: 50px;
    background-color: $theme-color;
    background-image: url(/src/images/icons/tickets-icon.png);
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    transition: background-color $transition-time;

    &:hover {
      background-color: $header-button-hover-color;
    }

    @include on-tablet {
      height: 70px;
      width: 70px;
    }
  }
}
