.top-bar {
  display: flex;
  position: relative;
  align-items: center;

  &__logo-link {
    display: flex;
    height: 72px;
    width: 63px;

    @include hover;
  }

  &__logo {
    width: 90%;
    align-self: center;
  }

  &__icons {
    height: 24px;
  }
}
