@mixin on-tablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin content-padding-inline() {
  padding-inline: 20px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;

  @include on-tablet {
    padding-inline: 39px;
  }

  @include on-desktop {
    padding-inline: 55px;
  }
}

@mixin page-grid {
  --columns: 2;

  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include content-padding-inline;

  @include on-tablet {
    --columns: 6;

    column-gap: 30px;
  }

  @include on-desktop {
    --columns: 12;
  }
}

@mixin hover {
  transition: transform $transition-time;
  &:hover {
    transform: scale(1.1);
  }
}
