$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$transition-time: 0.3s;
$page-background-color: #fff;
$subscribe-background-color: rgba(0, 0, 0, 0.75);
$menu-text-color: #fff;
$header-title-color: #000;
$theme-color: #1a5a4c;
$header-button-hover-color: rgb(20, 70, 60);
$box-shadow-color: rgba(26, 90, 76, 0.25);
$main-title-text-color: #0f0e08;
$exhibition-date-color: #687480;
$exhibition-text-color: #4e4e4e;
$subscribe-text-color: #fff;
$subscribe-button-color: #f14a27;
$subscribe-button-hover-color: rgb(194, 57, 30);
$gallery-slide-color: #e0e0e0;
$gallery-slide-active-color: #1a5a4c;
$exhibition-name-rectangle-color: #f14a27;
$footer-border-color: rgba(26, 90, 76, 0.5);
